@import "../../../styles/colors.scss";

.comments__wrapper {
    margin: 0 0 40px 0;
}

.comment {
    display: flex;
    margin: 0 0 27px 0;
    font-family: Lato-Regular;
    &__offset {
        margin: 0 0 27px 20px;
    }
    &__icon {
        margin: 0 20px 0 0;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: $color_white;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        margin: 0 0 9.5px 0;
        &_info_created {
            span {
                color: $color_grey;
            }
        }
        &_likes {
            display: flex;
            align-items: center;
            &_icon {
                margin: 0 8px 0 0;
                cursor: pointer;
            }
            &_number {
                max-width: 35px;
                display: inline-block;
                margin: 0 0 6px 8px;
                word-wrap: break-word;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    &__text {
        width: 100%;
        overflow-wrap: anywhere;
    }
}
