@import "../../../styles/colors.scss";

.comment {
    display: flex;
    margin: 0px 0 32px 0;
    font-family: Lato-Regular;

    @media screen and (max-width: 1024px) {
        margin: 0px 0 27px 0;
    }
    &__offset {
        margin: 0 0 32px 34px;
        @media screen and (max-width: 1024px) {
            margin: 0 0 27px 20px;
        }
    }
    &__icon {
        margin: 0 20px 0 0;
        img {
            width: 68px;
            height: 68px;
            border-radius: 50%;
            object-fit: cover;
            @media screen and (max-width: 1024px) {
                width: 40px;
                height: 40px;
            }
        }
    }
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: $color_white;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        margin: 0 0 12.5px 0;
        @media screen and (max-width: 1024px) {
            margin: 0 0 9.5px 0;
        }
        &_info_nickname {
            margin: 0 0 6px 0;
            @media screen and (max-width: 1024px) {
                margin: 0;
            }
        }
        &_info_created {
            span {
                color: $color_grey;
            }
        }
        &_likes {
            display: flex;
            align-items: center;
            &_icon {
                margin: 0 4px 0 0;
                cursor: pointer;
            }
            &_number {
                max-width: 35px;
                display: inline-block;
                margin: 0 0 6px 8px;
                word-wrap: break-word;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    &__text {
        width: 100%;
        overflow-wrap: anywhere;
    }
}
