@import "../../styles/colors.scss";

.loadMore {
    width: 100%;
    display: flex;
    margin: 0 0 60px 0;
    padding: 24px 0 0 0;
    justify-content: center;
    @media screen and (max-width: 1024px) {
        padding: 0;
    }
    &__button {
        padding: 0;
        background: $color_dark;
        border: none;
        outline: none;
        color: $color_white;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
        &:hover {
            background: $color_light_grey;
            transition: background 0.3s ease-in-out;
        }
        &_error {
            background-color: $color_error;
            transition: background 0.3s ease-in-out;
            &:hover {
                background: $color_light_grey;
                transition: background 0.3s ease-in-out;
            }
        }
        span {
            padding: 8px 62px;
            font-size: 16px;
            display: inline-block;
            @media screen and (max-width: 1024px) {
                font-size: 14px;
            }
        }
    }
    &__all {
        color: $color_white;
        background: $color_light_grey;
        border-radius: 4px;
        span {
            padding: 8px 32px;
            display: inline-block;
        }
    }
}
