@import "../../styles/colors.scss";

.loadMore {
    width: 100%;
    display: flex;
    margin: 0 0 60px 0;
    justify-content: center;

    &__button {
        padding: 0;
        background: $color_dark;
        border: none;
        outline: none;
        color: $color_white;
        border-radius: 4px;
        cursor: pointer;
        &_error {
            background-color: $color_error;
        }
        span {
            padding: 8px 62px;
            display: inline-block;
        }
    }

    &__all {
        color: $color_white;
        background: $color_light_grey;
        border-radius: 4px;
        span {
            padding: 8px 32px;
            display: inline-block;
        }
    }
}
